# Ignore Terraform variable files
*.tfvars

# Ignore Terraform lock file
.terraform.lock.hcl

# Ignore license files
LICENSE

# Ignore executable files
*.exe

# Ignore Terraform folder
.terraform/

*.db